﻿body 
{
    background-image: url(http://localhost:58302/Crud_finalVer1/css/autos.jpg);
    background-color:#210B61;
    background-position:center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
   -moz-background-size: cover;
   
   
}
h1
{
    color:White;
}
td
{
    color:White;
}