﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="MostrarVendedores.aspx.cs" Inherits="Face_MostrarVendedores" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link rel="Stylesheet" href="../css/StyleSheet.css" />
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <asp:Button ID="Button1" runat="server" 
            PostBackUrl="~/Controler/ControladorMostrarVendedores.aspx" Text="Seguir" />
    
    </div>
    </form>
</body>
</html>
